<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.15" package="com.xamarin.acquaintnative">
	<uses-sdk android:minSdkVersion="17" />
	<application android:label="Acquaint N" android:theme="@style/AcquaintTheme">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="GOOGLE_MAPS_API_KEY" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>